
<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">
        <div id="editor-form-messages"></div>

        <form hx-post="{{#if article}}/htmx/editor/{{article.slug}}{{else}}/htmx/editor{{/if}}"
              hx-target="#editor-form-messages"
              hx-swap="innerHTML show:top">
          <fieldset>
            <fieldset class="form-group">
              <input type="text" class="form-control form-control-lg" name="title" placeholder="Article Title" value="{{article.title}}" />
            </fieldset>
            <fieldset class="form-group">
              <input type="text" class="form-control" name="description" placeholder="What's this article about?" value="{{article.description}}" />
            </fieldset>
            <fieldset class="form-group">
              <textarea class="form-control" name="body" rows="8" placeholder="Write your article (in markdown)">{{article.body}}</textarea>
            </fieldset>
            <fieldset class="form-group">
              <input type="text" class="form-control" name="tagList" placeholder="Enter tags" value="{{article.tagList}}" />
            </fieldset>
            <button class="btn btn-lg pull-xs-right btn-primary" type="submit">Publish Article</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
